[submodule "api_gateway"]
	path = api_gateway
	url = https://github.com/justinpakming/comp3122-ubeat-api-gateway.git
[submodule "customer_order"]
	path = customer_order
	url = https://github.com/Him311/comp3122-ubeat-customer-order.git
[submodule "delivery_order"]
	path = delivery_order
	url = https://github.com/tung9898/comp3122-ubeat-delivery.git
[submodule "restaurant_order"]
	path = restaurant_order
	url = https://github.com/chlhugo01/comp3122-ubeat-restaurant
[submodule "menu"]
	path = menu
	url = https://github.com/chlhugo01/comp3122-ubeat-menu
[submodule "grafana"]
	path = grafana
	url = https://github.com/chlhugo01/comp3122-ubeat-grafana
